<template>
  <div>
    <h1>Подбор квартир</h1>
    <div class="content">

      <div class="content__settings">
        <div class="content_flex">
          <div class="content__checkbox">
            <div class="content__settings__title">Секция:</div>
            <ul class="checkbox" v-for="(sec, index) in filter.sec" :key="index">
              <li><input type="checkbox" v-model="filter.sec[index]" :id="`sec_${index}`" value="1" checked><label :for="`sec_${index}`">{{index}}</label></li>
            </ul>
          </div>
          <div class="content__checkbox">
            <div class="content__settings__title">Кол-во комнат:</div>
            <ul class="checkbox" v-for="(room, index) in filter.rooms" :key="index">
              <li><input type="checkbox" v-model="filter.rooms[index]" :id="`room_${index}`" value="1" checked><label :for="`room_${index}`">{{index}}</label></li>
            </ul>
          </div>
        </div>
        <div class="content__range">
          <div class="content__settings__title">Стоимость:</div>
          <div class="range">
            <vue-range-slider
              v-model="rangePrice.value"
              :min="rangePrice.min"
              :max="rangePrice.max"
              :step="rangePrice.step"
              :formatter="formatPrice"
              :tooltip-merge="tooltipMerge"
              :enable-cross="enableCross"
            ></vue-range-slider>
          </div>
        </div>
        <div class="content__range">
          <div class="content__settings__title">Этаж:</div>
          <div class="range">
            <vue-range-slider
              v-model="rangeLevel.value"
              :min="rangeLevel.min"
              :max="rangeLevel.max"
              :step="1"
              :tooltip-merge="tooltipMerge"
              :enable-cross="enableCross"
            ></vue-range-slider>
          </div>
        </div>
        <div class="content__range">
          <div class="content__settings__title">Площадь:</div>
          <div class="range">
            <vue-range-slider
              v-model="rangeArea.value"
              :min="rangeArea.min"
              :max="rangeArea.max"
              :step="1"
              :formatter="formatArea"
              :tooltip-merge="tooltipMerge"
              :enable-cross="enableCross"
            ></vue-range-slider>
          </div>
        </div>
          <div class="content_flex">
          <div class="content__checkbox">
           <ul class="checkbox">
              <li>
                  <input type="checkbox" id="viewTypeList" value="1" checked="checked" @click="viewType = 1">
                  <label for="viewTypeList">Шахматка</label>
              </li><li>
                  <input type="checkbox" id="viewTypeShess" value="1" @click="viewType = 0">
                  <label for="viewTypeShess">Список</label>
              </li>
           </ul>
          </div>
        </div>
      </div>

      <div class="chess" v-if="viewType == 1">
        <tip v-if="tipDisplay" :mouseCood="hoverFlat" :flat="flatTip" />
        <div class="content-chess" @mousewheel="scroll" ref="chess">
            <div class="chess-loader" v-if="load">
              <div class="loader">Loading...</div>
            </div>
            <template v-else>
              <div v-for="(section, index_section) in chess" :key="index_section">
                <div class="content__chess__building" v-if="filter.sec[index_section]">
                  <div class="content__chess__building__level" v-for="(floor, index_floor) in section" :key="index_floor">
                    <span class="level">{{index_floor}}</span>
                    <tooltip v-for="(flat, index_flat) in floor"
                      :flat="flat"
                      :index="index_flat"
                      :key="index_flat"
                      :filter="filter"
                      @showTip="showTip"
                      :rangePrice="rangePrice"
                      :rangeLevel="rangeLevel"
                      :rangeArea="rangeArea"
                      :light="light"
                    ></tooltip>
                  </div>
                  Секция {{index_section}}
                </div>
              </div>
            </template>
        </div>
        <div class="content-status">
              <div class="content-status__item" @mouseover="statusHover(1, 'Свободен')" @mouseleave="statusHover(0, '')">
                  <span class="content-status__item_free"></span>Свободно
              </div>
              <div class="content-status__item" @mouseover="statusHover(1, 'Бронь')" @mouseleave="statusHover(0, '')">
                  <span class="content-status__item_booked"></span>Забронировано
              </div>
              <div class="content-status__item" @mouseover="statusHover(1, 'Продан')" @mouseleave="statusHover(0, '')">
                  <span class="content-status__item_sold"></span>Продано
              </div>
          </div>
      </div>

      <div class="listAppartmens"  v-if="viewType == 0">>
        <sorted-table :values="dataTable" ascIcon="<span> ▲</span>" descIcon="<span> ▼</span>" class="listAppartmens-table">
        <thead class="listAppartmens-table__header">
          <tr>
            <th scope="col">
              <sort-link name="id">#</sort-link>
            </th>
            <th scope="col">
              <sort-link name="quantity">Комнат</sort-link>
            </th>
            <th scope="col">
              <sort-link name="floor">Этаж</sort-link>
            </th>
            <th scope="col">
              <sort-link name="korpus">Корпус</sort-link>
            </th>
            <th scope="col">
              <sort-link name="section">Секция</sort-link>
            </th>
            <th scope="col">
              <sort-link name="area">Площадь</sort-link>
            </th>
            <th scope="col">
              <sort-link name="status">Стутас</sort-link>
            </th>
            <th scope="col">
              <sort-link name="amount">Цена</sort-link>
            </th>
          </tr>
        </thead>
        <template #body="sort">
          <tbody>
            <tr v-for="value in sort.values" :key="value.id">
              <template v-if="
                  filter.rooms[value.quantity] && filter.sec[value.section] &&
                  (value.area > rangeArea.value[0] && value.area < rangeArea.value[1]) &&
                  (value.floor > rangeLevel.value[0] && value.floor < rangeLevel.value[1]) &&
                  (value.amount > rangePrice.value[0] && value.amount < rangePrice.value[1])
                ">
                <td>{{ value.number }}</td>
                <td>{{ value.quantity }}</td>
                <td>{{ value.floor }}</td>
                <td>{{ value.korpus }}</td>
                <td>{{ value.section }}</td>
                <td>{{ value.area }}</td>
                <td>{{ value.status }}</td>
                <td>{{ value.amount }}</td>
              </template>
            </tr>
          </tbody>
        </template>
      </sorted-table>
      </div>

    </div>
  </div>
</template>

<script>
// При наведении на легенду тушатся остальные и показывается только он
// Всплывашку отдельно на div выше
// квартиры по порядку

import axios from 'axios'
import Tooltip from './Tooltip.vue'
import Tip from './Tip.vue'

import 'vue-range-component/dist/vue-range-slider.css'
import VueRangeSlider from 'vue-range-component'
import { SortedTable, SortLink } from 'vue-sorted-table'

import Vue from 'vue'

export default {
  name: 'ApartmentsChess',
  props: {
    apiUrl: {
      type: String,
      default: ''
    }
  },
  watch: {},
  components: { Tooltip, VueRangeSlider, Tip, SortedTable, SortLink },
  data () {
    return {
      dataTable: [],
      aparts: [],
      chess: [],
      sections: [],
      load: true,
      hoverFlat: {},
      flatTip: {},
      tipDisplay: false,
      filter: {
        rooms: {},
        sec: {},
        type: ['kv', 'ap'],
        level: {}
      },
      rangePrice: {
        value: [0, 6000000],
        min: 0,
        max: 6000000,
        step: 100000
      },
      rangeLevel: {
        value: [0, 25],
        min: 0,
        max: 25
      },
      rangeArea: {
        value: [0, 100],
        min: 0,
        max: 100
      },
      light: '',
      viewType: 1
    }
  },
  mounted () {
    axios.get(this.apiUrl).then(res => {
      this.showBuild(res.data[1])
    }).catch(() => {
      alert('alert error')
    }).finally(() => {
      this.load = !1
    })
  },
  created () {
    this.enableCross = true
    this.tooltipMerge = false
    this.formatPrice = value => { if (value) { return (`${value.toLocaleString()}₽`) } else return '' }
    this.formatArea = value => `${value}м²`
  },
  computed: {
    sectionsData () {
      return this.data
    }
  },
  methods: {
    changeViewType (type) {
      if (type) {
        this.viewTypeShess = !type
        this.viewTypeList = type
      }
    },
    statusHover (type, el) {
      this.light = el
    },
    showBuild (res) {
      let minP = 1e6
      let maxP = 0

      let minL = 1e3
      let maxL = 0

      let minA = 1e6
      let maxA = 0
      const dataTable = []

      for (const s in res) {
        var maxF = 0
        Vue.set(this.filter.sec, s, true)
        for (const l in res[s]) {
          const v = Object.values(res[s][l]).sort(function (a, b) {
            return (+(a.number_on_floor)) - (+(b.number_on_floor))
          })
          res[s][l] = v
          if (res[s][l].length > maxF) maxF = res[s][l].length

          const level = []
          level[maxF - 1] = 0
          level.fill(1)

          for (const f in res[s][l]) {
            Vue.set(this.filter.rooms, res[s][l][f].quantity, true)
            if (res[s][l][f].amount < minP) minP = res[s][l][f].amount
            if (res[s][l][f].amount > maxP) maxP = res[s][l][f].amount

            if (res[s][l][f].area < minA) minA = res[s][l][f].area
            if (res[s][l][f].area > maxA) maxA = res[s][l][f].area

            level[(+(res[s][l][f].number_on_floor)) - 1] = res[s][l][f]

            res[s][l][f].id = Math.random()
            dataTable.push(res[s][l][f])
          }

          if (+(res[s][l][0].floor) < minL) minL = +(res[s][l][0].floor)
          if (+(res[s][l][0].floor) > maxL) maxL = +(res[s][l][0].floor)

          res[s][l] = level
        }
      }

      this.chess = res
      this.rangePrice.min = minP
      this.rangePrice.max = maxP
      this.rangePrice.value = [minP, maxP]

      this.rangeLevel.min = minL
      this.rangeLevel.max = maxL
      this.rangeLevel.value = [minL, maxL]

      this.rangeArea.min = minA
      this.rangeArea.max = maxA
      this.rangeArea.value = [minA, maxA]

      this.dataTable = dataTable
    },
    scroll (e) {
      console.log(e)
      this.$refs.chess.scrollLeft += e.deltaY
      e.preventDefault()
    },
    showTip (f, event) {
      this.hoverFlat = { x: event.clientX, y: event.pageY }
      this.flatTip = f
    }
  }
}
</script>

<style lang="scss">
$sceen: #428f6c;

  .slider-tooltip-top {
    top: -2px!important;
  }
  .slider-process {
    background: $sceen!important;
  }
  .slider-tooltip {
      background: $sceen!important;
      border: 2px solid darken($sceen, 5%)!important;
    &::before {
      display: none!important;
    }
  }
</style>
<style scoped lang="scss">
$sceen: #428f6c;

::-webkit-scrollbar {
  width: 2px;
  height: 5px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  height: 2px;
  width: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: $sceen;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  height: 2px;
  background: lighten($sceen, 10%);
}

h1 {
  margin: 40px;
  color: #273b32;
}
.content {
  max-width: 760px;
  margin: 0 auto;
  position: relative;
}
.content__checkbox {
  text-align: left;
  margin-left: 5px;
}
.content_flex {
  display: flex;
  justify-content: space-between;
}
.content__range {
  display: block;
  .range {
    margin-top: 30px;
  }
}
.chess-loader {
  width: 100%;
  padding: 100px;
  text-align: center;

  .loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #006137;
    background: -moz-linear-gradient(left, #006137 10%, rgba(0,97,55, 0) 42%);
    background: -webkit-linear-gradient(left, #006137 10%, rgba(0,97,55, 0) 42%);
    background: -o-linear-gradient(left, #006137 10%, rgba(0,97,55, 0) 42%);
    background: -ms-linear-gradient(left, #006137 10%, rgba(0,97,55, 0) 42%);
    background: linear-gradient(to right, #006137 10%, rgba(0,97,55, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before {
    width: 50%;
    height: 50%;
     background: #fff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: #fff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

}

.content-chess {
  display: flex;

  overflow-x: auto;
  overflow-y: hidden;
  position: relative;

  //   &:before {
  //   content: "";
  //   width: 5%;
  //   height: 100%;
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   background: linear-gradient(to left, white 0%, rgba(0, 0, 0, 0) 100%);
  //   z-index: 0;
  //   z-index: 99;
  // }
  // &:after {
  //   content: "";
  //   width: 5%;
  //   height: 100%;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   background: linear-gradient(to right, white 0%, rgba(0, 0, 0, 0) 100%);
  //   z-index: 99;
  // }
}
.content__chess__building {
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
  max-width: 550px;

  position: relative;
  display: flex;
  flex-direction: column-reverse;
}
.content__chess__building__level {
  padding: 0;
  display: flex;

}
.level {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 5px;
  height: 5px;
  padding: 5px;
  margin: 5px;
}

.content__settings {
    // max-width: 640px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    margin: 30px 10px;

    .content__settings__title {
      margin-top: 10px;
      font-size: 16px;
      text-align: left;
    }
}

ul.checkbox {
    list-style: none;
    padding: 0;
    margin-top: 5px;

    display: inline-block;
}
ul.checkbox li{
  display: inline;

    margin-right: 5px;
}
ul.checkbox li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.checkbox li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.checkbox li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\2612";
    transition: transform .3s ease-in-out;
}

ul.checkbox li input[type="checkbox"]:checked + label::before {
    content: "\2611";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.checkbox li input[type="checkbox"]:checked + label {
  background-color: $sceen;
  border: 2px solid darken($sceen, 5%);
  color: #fff;
  transition: all .2s;
}

ul.checkbox li input[type="checkbox"] {
  display: absolute;
}
ul.checkbox li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.checkbox li input[type="checkbox"]:focus + label {
  border: 2px solid #00cc22;
}

.content-status {
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 12px 0 12px 5px;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
}
.content-status__item {
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 14px;
    color: #6A6A6A;
    cursor: pointer;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #cccccc;
      width: 5px;
      height: 5px;
      padding: 5px;
      margin: 5px;
      font-size: 11px;
      color: #fff;
      position: relative;

      &.content-status__item_free {
        background-color: #29BF12;
      }
      &.content-status__item_booked {
        background-color: #caa501;
      }
      &.content-status__item_sold {
        background-color: rgba(175, 108, 108, 0.582);
      }
    }

}

.listAppartmens {
  width: 100%;
}
.listAppartmens-table {
  width: 100%;
  border-collapse: collapse;

  .listAppartmens-table__header {
    tr {
      &:hover {
        background: none;
      }
    }

    th {
      text-align: center;
      padding: 10px 15px;
    }

    a {
      color: #6A6A6A;
      text-decoration: none;
    }
  }

  tr {
    &:nth-child(2n) {
      background: lighten($sceen, 50%);
    }
    &:hover {
      background: lighten($sceen, 35%);
    }
  }
  td {
    color: #333;
    padding: 10px 15px;
  }
}

</style>
