<template>
  <div class="tooltip" :style="styleMouse">
    <img :src="'https://zolotievorota2019.ru'+flat.plan_image" alt="План квартиры"><br>
          Тип: {{flat.type}}<br>
          Комнат: {{flat.quantity}}<br>
          Площадь: {{flat.area}} м²<br>
          #: {{flat.number}}<br>
          Статус: {{flat.status}}<br>
          Цена: {{(flat.amount)}} ₽
  </div>
</template>
<script>
export default {
  name: 'Tip',
  props: {
    flat: {},
    filter: {},
    rangeLevel: {},
    rangePrice: {},
    rangeArea: {},
    mouseCood: {}
  },
  computed: {
    disable () {
      return (this.flat.amount < this.rangePrice.value[0] || this.flat.amount > this.rangePrice.value[1]) ||
          (this.flat.floor < this.rangeLevel.value[0] || this.flat.floor > this.rangeLevel.value[1]) ||
          (this.flat.area < this.rangeArea.value[0] || this.flat.area > this.rangeArea.value[1]) ||
          !this.filter.rooms[this.flat.quantity]
    },
    styleMouse () {
      return {
        left: (this.mouseCood.x - 200) + 'px',
        top: (this.mouseCood.y - 120) + 'px'
      }
    }
  }
}
</script>
<style scoped lang="scss">
  .tooltip {
    position: absolute;
    z-index: 50;
    width: 150px;
    left: 10px;
    top: 0px;
    background: rgb(250, 250, 250);

    font-size: 14px;
    color: #222;
    padding: 0.5em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    // opacity: 0;

    transition: .3s;
    text-align: left;

    &:hover {
      opacity: 1;
      top: 5px;
    }
    img {
        max-width: 150px;
    }
  }
</style>
