<template>
    <span
      @mouseover="mouseOver"
      @mouseleave="mouseOut"
      :class="{
        'adden' : !flat.quantity,
        'sold' : flat.status == 'Продан',
        'free' : flat.status == 'Свободен',
        'booked' : flat.status == 'Бронь',
        'disable' : disable,
        'light' : light == flat.status,
        'dark' : light.length && light != flat.status
      }"
    >
     <!-- <div class="tooltip" v-if="filter.rooms[flat.quantity]">
          <img :src="'https://zolotievorota2019.ru'+flat.plan_image" alt="План квартиры"><br>
          Тип: {{flat.type}}<br>
          Комнат: {{flat.quantity}}<br>
          Площадь: {{flat.area}} м²<br>
          #: {{flat.number_on_floor}}<br>
          Статус: {{flat.status}}<br>
          Цена: {{(flat.amount).toLocaleString()}} ₽
      </div> -->
    </span>
</template>

<script>
export default {
  name: 'Tooltip',
  props: {
    light: {
      type: String
    },
    flat: {},
    filter: {},
    rangeLevel: {},
    rangePrice: {},
    rangeArea: {},
    data: []
  },
  methods: {
    mouseOver (event) {
      if (this.flat.amount) {
        this.$parent.tipDisplay = true
        this.$emit('showTip', this.flat, event)
      }
    },
    mouseOut () {
      this.$parent.tipDisplay = false
    }
  },
  computed: {
    disable () {
      return (this.flat.amount < this.rangePrice.value[0] || this.flat.amount > this.rangePrice.value[1]) ||
          (this.flat.floor < this.rangeLevel.value[0] || this.flat.floor > this.rangeLevel.value[1]) ||
          (this.flat.area < this.rangeArea.value[0] || this.flat.area > this.rangeArea.value[1]) ||
          !this.filter.rooms[this.flat.quantity]
    }
  }
}
</script>
<style scoped lang="scss">
  $free: rgb(0, 218, 29);
  $sold:  rgba(175, 108, 108, 0.582);
  $booked: rgb(202, 165, 1);
  $disable: rgb(133, 133, 133);
  $adden: #fff;

  .tooltip {
    color: #000;

    img {
        max-width: 150px;
    }
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgb(204, 204, 204);
    width: 5px;
    height: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-size: 11px;
    color: #fff;

    &.light {
      box-shadow: 0 0 20px #e2000096;
    }
    &.dark {
      opacity: .2;
    }

    &.level {
      border: 1px solid rgba(0, 0, 0, 0.041);
      font-size: 11px;
    }
    position: relative;

    .tooltip {
      position: absolute;
      z-index: 50;
      width: 150px;
      left: 10px;
      top: 0px;
      background: rgb(250, 250, 250);

      font-size: 14px;
      color: #444;
      padding: 0.5em;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      pointer-events: none;
      opacity: 0;

      transition: .3s;
      text-align: left;

      &:hover {
        opacity: 1;
        top: 5px;
      }
    }
    &:hover .tooltip  {
      opacity: 1;
      top: 5px;
    }
  }

  .free {
    background-color: $free;
    &:hover {
      background-color: darken($free, 10%);
    }
  }
  .sold {
    background-color: $sold;
    &:hover {
      background-color: darken($sold, 10%);
    }
  }
  .booked {
    background-color: $booked;
    &:hover {
      background-color: darken($booked, 10%);
    }
  }
  .disable {
    opacity: .25;
    &:hover {
      background-color: darken($disable, 10%)!important;
    }
  }
  .adden {
    background: $adden;
    &:hover {
      background-color: darken($adden, 10%);
    }
  }
</style>
