<template>
  <div id="app">
    <ApartmentsChess api-url="https://zolotievorota2019.ru/api/v1/zolotievorota/apartments/chess"/>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>123
  </div>
</template>

<script>
import ApartmentsChess from './components/ApartmentsChess.vue'

export default {
  name: 'App',
  components: {
    ApartmentsChess
  },
  data () {
    return {
      n: 0
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

</style>
